/*
    Document   : general
    Created on : 23-dic-2012, 22:56:38
    Author     : Cristian Trujillo
    Description:
        estilo general plantilla de prueba reservando.
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
::-moz-selection {}
::selection {}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select {
  vertical-align: middle;
}
html, body {
  width: 100%;
  height: 100%;
  /*background: black;*/
  background-image: -webkit-radial-gradient(ellipse farthest-corner at 45px 45px , rgb(215, 232, 244) 0%, rgba(0, 0, 255, 0) 50%, rgb(6, 56, 78) 95%);
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(215, 232, 244) 0%, rgba(0, 0, 255, 0) 50%, rgb(6, 56, 78) 95%);
  overflow: hidden;
  -webkit-animation: colorbg 20s infinite;
          animation: colorbg 20s infinite;
}
#logo_top {
  position: absolute;
  margin-left: 100px;
}

.flex_box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sheet {
  width: 100%;
  height: 100%;
  -webkit-animation: op 3s;
          animation: op 3s;
}

#sheet > section{
  width: 510px;
  height: 510px;
}

#pt {
  width: 501px;
  height: 501px;
  border-radius: 250px 250px 5px 250px;
  -moz-border-radius: 250px 250px 5px 250px;
  -webkit-border-radius: 250px 250px 5px 250px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: rgb(6, 56, 78);
  box-shadow: 0 0 2pc #000;
  -webkit-animation: colorpt 20s infinite;
          animation: colorpt 20s infinite;
}

#c1 {
  width: 500px;
  height: 500px;
  border-radius: 250px 250px 250px 250px;
  -moz-border-radius: 250px 250px 250px 250px;
  -webkit-border-radius: 250px 250px 250px 250px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: 1px rgb(8, 78, 114) solid;
  background: rgb(8, 78, 114);
  box-shadow: 0 0 2pc rgba(0, 0, 0, .5);
  -webkit-animation: colorc1 20s infinite;
          animation: colorc1 20s infinite;
}

#c2 {
  outline: none;
  width: 352px;
  height: 352px;
  border-radius: 176px 176px 176px 176px;
  -webkit-border-radius: 176px 176px 176px 176px;
  -moz-border-radius: 176px 176px 176px 176px;
  border: 3px rgb(41, 71, 100) solid;
  box-shadow: 0 0 4pc rgba(255, 255, 255, .4);
  -webkit-animation: colorc2 20s infinite;
          animation: colorc2 20s infinite;
}

#c3 {
  outline: none;
  width: 342px;
  height: 342px;
  border-radius: 175px 175px 175px 175px;
  -moz-border-radius: 175px 175px 175px 175px;
  -webkit-border-radius: 175px 175px 175px 175px;
  border: 3px rgb(41, 71, 100) solid;
  box-shadow: 0 0 10px rgb(41, 71, 100) inset;
  background: rgb(215, 232, 244);
  -webkit-animation: colorc3 20s infinite;
          animation: colorc3 20s infinite;
}

#c4 {
  background: url(../img/nav_circulitos-de-abajo.png);
  width: 49px;
  height: 9px;
}

nav #text {
  margin-top: -12px;
  margin-left: -19px;
  position: absolute;
  width: 518px;
  z-index: 1;
}

#c3 a {
  margin: 0;
  padding: 0;
  width: 67px;
  height: 25px;
  position: absolute;
  z-index: 2;
}

#apuntador {
  width: 503px;
  min-height: 503px;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  position: relative;
  -webkit-animation: girar 10s linear infinite;
          animation: girar 10s linear infinite;
}

#rest:hover + #apuntador {
  display: none;
}

#fch, #fcha {
  position: absolute;
  opacity: 0.8;
}

#fch {
  background: url(../img/flechita-arribita.png);
  width: 136px;
  height: 165px;
  top: 67px;
  left: 454px;
}

#fcha {
  background: url(../img/flechita-abajito.png);
  width: 288px;
  height: 204px;
  top: 171px;
  left: 133px;
}

#c3 a {
  height: 50px;
}

@-webkit-keyframes girar{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes girar{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes colorpt{
  0% {
    background: rgb(6, 56, 78);
  }
  25%{
    background: rgb(120, 56, 78);
  }
  50%{
    background: rgb(6, 140, 78);
  }
  75% {
    background: rgb(51, 51, 51);
  }
  100% {
    background: rgb(6, 56, 78);
  }
}

@keyframes colorpt{
  0% {
    background: rgb(6, 56, 78);
  }
  25%{
    background: rgb(120, 56, 78);
  }
  50%{
    background: rgb(6, 140, 78);
  }
  75% {
    background: rgb(51, 51, 51);
  }
  100% {
    background: rgb(6, 56, 78);
  }
}

@-webkit-keyframes colorc1{
  0%{
    border: 1px rgb(8, 78, 114) solid;
    background: rgb(8, 78, 114);
    /*box-shadow: 0 0 2pc rgba(0, 0, 0, .5);*/
  }
  25%{
    border: 1px rgb(120, 78, 114) solid;
    background: rgb(120, 78, 114);
  }
  50%{
    border: 1px rgb(8, 140, 114) solid;
    background: rgb(8, 140, 114);
    /*box-shadow: 0 0 2pc rgba(0, 0, 0, .5);*/
  }
  75%{
    border: 1px rgb(78, 78, 68) solid;
    background: rgb(78, 78, 78);
  }
  100%{
    border: 1px rgb(8, 78, 114) solid;
    background: rgb(8, 78, 114);
    /*box-shadow: 0 0 2pc rgba(0, 0, 0, .5);*/
  }
}

@keyframes colorc1{
  0%{
    border: 1px rgb(8, 78, 114) solid;
    background: rgb(8, 78, 114);
    /*box-shadow: 0 0 2pc rgba(0, 0, 0, .5);*/
  }
  25%{
    border: 1px rgb(120, 78, 114) solid;
    background: rgb(120, 78, 114);
  }
  50%{
    border: 1px rgb(8, 140, 114) solid;
    background: rgb(8, 140, 114);
    /*box-shadow: 0 0 2pc rgba(0, 0, 0, .5);*/
  }
  75%{
    border: 1px rgb(78, 78, 68) solid;
    background: rgb(78, 78, 78);
  }
  100%{
    border: 1px rgb(8, 78, 114) solid;
    background: rgb(8, 78, 114);
    /*box-shadow: 0 0 2pc rgba(0, 0, 0, .5);*/
  }
}

@-webkit-keyframes colorc2{
  0%{
    border: 3px rgb(41, 71, 100) solid;
  }
  25%{
    border: 3px rgb(120, 71, 100) solid;
  }
  50%{
    border: 3px rgb(41, 140, 100) solid;
  }
  75%{
    border: 3px rgb(71, 71, 71) solid;
  }
  100%{
    border: 3px rgb(41, 71, 100) solid;
  }
}

@keyframes colorc2{
  0%{
    border: 3px rgb(41, 71, 100) solid;
  }
  25%{
    border: 3px rgb(120, 71, 100) solid;
  }
  50%{
    border: 3px rgb(41, 140, 100) solid;
  }
  75%{
    border: 3px rgb(71, 71, 71) solid;
  }
  100%{
    border: 3px rgb(41, 71, 100) solid;
  }
}



@-webkit-keyframes colorc3{
  0%{
    border: 3px rgb(41, 71, 100) solid;
    box-shadow: 0 0 10px rgb(41, 71, 100) inset;
    background: rgb(215, 232, 244);
  }
  25%{
    border: 3px rgb(120, 71, 100) solid;
    box-shadow: 0 0 10px rgb(120, 71, 100) inset;
    background: rgb(239, 214, 244);
  }
  50%{
    border: 3px rgb(41, 140, 100) solid;
    box-shadow: 0 0 10px rgb(41, 140, 100) inset;
    background: rgb(214, 244, 227);
  }
  75%{
    border: 3px rgb(71, 71, 71) solid;
    box-shadow: 0 0 10px rgb(71, 71, 71) inset;
    background: rgb(215, 215, 215);
  }
  100%{
    border: 3px rgb(41, 71, 100) solid;
    box-shadow: 0 0 10px rgb(41, 71, 100) inset;
    background: rgb(215, 232, 244);
  }
}



@keyframes colorc3{
  0%{
    border: 3px rgb(41, 71, 100) solid;
    box-shadow: 0 0 10px rgb(41, 71, 100) inset;
    background: rgb(215, 232, 244);
  }
  25%{
    border: 3px rgb(120, 71, 100) solid;
    box-shadow: 0 0 10px rgb(120, 71, 100) inset;
    background: rgb(239, 214, 244);
  }
  50%{
    border: 3px rgb(41, 140, 100) solid;
    box-shadow: 0 0 10px rgb(41, 140, 100) inset;
    background: rgb(214, 244, 227);
  }
  75%{
    border: 3px rgb(71, 71, 71) solid;
    box-shadow: 0 0 10px rgb(71, 71, 71) inset;
    background: rgb(215, 215, 215);
  }
  100%{
    border: 3px rgb(41, 71, 100) solid;
    box-shadow: 0 0 10px rgb(41, 71, 100) inset;
    background: rgb(215, 232, 244);
  }
}

@-webkit-keyframes op{
  0%{ opacity: 0}
  100%{ opacity: 1}
}

@keyframes op{
  0%{ opacity: 0}
  100%{ opacity: 1}
}
